button {
    font-size: 12px;
    padding: 5px;
    margin: 0;
    border: none;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

button.pressed {
    background-color: darkgray;
}

#lightButton {
    position: absolute;
    top: 80%;
    left: -20px;
    transform: translateY(-50%) rotate(-90deg);
}

#resetButton {
    position: absolute;
    top: 20%;
    left: -20px;
    transform: translateY(-50%) rotate(-90deg);
}



#formatButton {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%) rotate(-90deg);
}

#modeButton {
    position: absolute;
    top: 30%; /* Adjust to position outside the top border */
    right: -20px; /* Adjust to position outside the right border */
    transform: rotate(90deg); /* Rotate text */
}

#increaseButton {
    position: absolute;
    bottom: 30%; 
    right: -20px; 
    transform: rotate(90deg); 
}