body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.watch-container {
    width: 200px;
    height: 250px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hidden {
    display: none;
}

.watch-display {
    color: white;
    font-size: 24px;
    text-align: center;
}

.watch-display.light-on {
    background-color: rgba(255, 255, 0, 0.2);
}


.edit-mode {
    background-color: grey; 
}


#lightButton, #modeButton, #increaseButton, #resetButton {
    position: absolute;
    font-size: 10px;
    padding: 5px;
    margin: 0;
    border: none;
    background-color: lightgray;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

#lightButton {
    top: 80%;
    left: -30px;
    transform: translateY(-50%) rotate(-90deg);
}

#resetButton {
    top: 20%;
    left: -30px;
    transform: translateY(-50%) rotate(-90deg);
}

#modeButton {
    top: 10px; /* Adjust to position outside the top border */
    right: -30px; /* Adjust to position outside the right border */
    transform: rotate(90deg); /* Rotate text */
}

#increaseButton {
    bottom: 20px; /* Adjust to position outside the bottom border */
    right: -35px; /* Adjust to position outside the right border */
    transform: rotate(90deg); /* Rotate text */
}

.highlight {
    color: yellow; /* Highlight color for placeholders */
}

.timezone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#timezoneSelect {
    font-size: 14px;
    padding: 5px;
    margin-bottom: 10px;
}

#createWatchButton {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}