body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.watches-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}


.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timezone-display {
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
}

.watch-container {
    width: 200px;
    height: 250px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hidden {
    display: none;
}

.watch-display {
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.watch-display.light-on {
    background-color: rgba(255, 255, 0, 0.2);
}


.edit-mode {
    background-color: grey; 
}


.highlight {
    color: rgb(0, 255, 42); /* Highlight color for placeholders */
}

.timezone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#timezoneSelect {
    font-size: 14px;
    padding: 5px;
    margin-bottom: 10px;
}

#createWatchButton {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}